@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4 class="display-4">Elastic-Search with .Net Core</h4>
    <p>Learn about <a href="https://www.elastic.co/">Elastic-Search</a>.</p>
    <p>Basic and Advance operations on data.</p>
    <p>Project is using <b>ES Version 6.8.0</b></p>
</div>
